

@font-face {
    font-family: 'Bebas Neue' ;
    src: url('../fontes/BebasNeue-Regular.ttf');
}

@font-face {
    font-family: 'Android';
    src: url('../fontes/IDroid.otf');
}

:root{
    --cor0:#c5ebd6;
    --COR1:#83e1ad;
    --COR2:#3ddc84;
    --COR3:#2fa866;
    --COR4:#1a5c37;
    --COR5:#063d1e;

    --font-padrao: Arial, Verdana, Helvetica, sans-serif;
    --font-destaque:'Bebas Neue', cursive;
    --font-android: 'Android',cursive;
}    

* { 
   margin: 0px; 
   padding: 0px;
}



body{
    background-color:var(--COR0);
    font-family: var(--font-padrao);
}

a.externo::after{
    content: '\00a0\1f517';
}



header{
    background-image: linear-gradient(to bottom, var(--COR3), var(--COR5));
    min-height: 150px;
    text-align: center;
    padding-top: 30px;
}

header > h1{
    color: white;
    font-family: var(--font-destaque);
    padding-bottom: 20px;
    font-size: 3em;
    font-weight: normal;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.562);
}

header > p{
    font-family: var(--font-padrao);
    color:white;
    font-size: 1.2em;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.562);
}

nav{
    background-color: var(--COR5);
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.5);
  
}

nav li{
    display: inline;
    padding-right: 10px;
    
}

nav a{
    color: var(--COR1);
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    
} 

nav a:hover{
    background-color: var(--COR4);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    transition-duration: 0.5s;
}

main{
    min-width: 300px;
    max-width: 1000px;
    background-color: white;
    padding: 20px;
    margin: auto;
    margin-bottom: 30px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.418);
}

main h1{
    color: var(--COR5);
    font-family: var(--font-android);
    font-weight: normal;
    font-size: 1.8em;
}

main h2{
    font-family: var(--font-android);
    color: var(--COR4);
    font-size: 1.3em;
    font-weight: normal;
    background-image: linear-gradient(to right, var(--COR1), transparent);
    text-indent: 8px;
}

main p{
    margin: 15px 0px 15px 0px;
    text-align: justify;
    text-indent: 30px;
    line-height: 2em;
    font-size: 1em;
}

main strong{
    color: var(--COR4);
    font-weight: bold;
}

main a{
    color: var(--COR5);
    background-color:var(--COR1) ;
    text-decoration: none;
    font-weight: bold;
    padding: 2px 6px;
}

main a:hover{
    text-decoration: underline;
    color: var(--COR4);
}

main img{
    width: 100%;
}

main img.pequena {
    max-width: 350px;
    display: block;
    margin: auto;
}

div.video {
    background-color: var(--COR5);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 58%;
    position: relative;
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}


aside{
    background-color: var(--COR1);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.39);
}

aside > h3{
    background-color: var(--COR4);
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;

}

aside > ul{
    list-style-type: '\2714\00a0';
    list-style-position: inside;
    columns: 2;
}

footer{
    background-color: var(--COR5);
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}

footer a{
    color: white;
    font-weight: bolder;
    text-decoration: none;

}

footer a:hover{
    text-decoration: underline;
    color: var(--COR1);
}
