@charset "utf-8";

/*Aparelho deitado (landscape)*/

body {
    background: url(../imagens/cev-landscape.jpg);
    background-position: left bottom;
    background-size: contain;
    background-repeat: no-repeat;
    
}